DATABASE_URL="postgresql://postgres:postgres@localhost:5432/goodwell_dev"
BETTER_AUTH_SECRET="replace-with-32-plus-character-random-string"
BETTER_AUTH_URL="http://localhost:3000"
ESKIZ_EMAIL=""
ESKIZ_PASSWORD=""
ESKIZ_FROM="4546"
ESKIZ_MOCK="true"
